version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: prisma-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: prisma_db
      POSTGRES_USER: TRIDIP
      POSTGRES_PASSWORD: prisma_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: